@media (min-width: 1000px){
    form{
        width: 20%;
        height: 100%
    }
    .userIcon, .exitIcon{
        width: 50px;
        height: 50px;
    }
    .newTaskRow{
        height: 50%
    }
    .allTasksRow{
        height: 50%;
        justify-content: space-between;
    }
    .body-container{
        position: absolute;
    }
    .btn-up, .btn-bot{
        display: none
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    form{
        width: 50%;
        height: 100%
    }
    .userCol{
        height: 10%;
        display: flex;
    }
    .userIcon, .exitIcon{
        width: 50px;
        height: 50px;
    }
    .body-container{
        position: relative;
    }
    .allTasksRow{
        justify-content: space-between;
    }
    .btn-left, .btn-right{
        display: none
    }
}
@media (min-width: 100px) and (max-width: 700px) {
    form{
        width: 70%;
    }
    .userCol{
        height: 100px;
        display: flex
    }
    .userIcon, .exitIcon{
        width: 50px;
        height: 50px;
    }
    .body-container{
        position: relative;
    }
    .allTasksRow{
        justify-content: center;
    }
    .btn-left, .btn-right{
        display: none
    }
}

.mainPage-container{
    background-color: rgb(12, 79, 110); 
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}
.notAuthrow{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.mainPageNotAuth-container{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.form-group{
    width: 100%;
}

.body-container{
    width: 100%;
    height: 100%;
    background-color: rgb(12, 79, 110);
}
.footer-container{
    width: 100%;
    height: 100%;
}

.mainRow{
    width: 100%;
    height: 93%;
    margin: 0;
}
.userCol{
    width: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: rgb(106, 197, 209);
    font-size: 26px;
}
.iconRow, .userDataRow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userIcon, .exitIcon{
    background-size: contain;
    background-repeat: no-repeat;
}
.logoutRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exitIcon{
    background-size: contain;
    background-repeat: no-repeat;
}

/*new task*/
.newTaskRow{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newTaskForm{
    border-radius: 20px;
    padding: 10px;
    background-color: gainsboro;
    box-shadow: 0 0 10px rgb(109, 109, 109);
}

/*all tasks*/
.allTasksRow{
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(19, 96, 131, 0.568); 
}
.taskItem{
    padding: 10px;
}
.card{
    width: 300px
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.priorityColor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}
.date{
    display:inline-block;
    height: 100%;
    margin-left: 15px;
    color: gray;
    font-size: 12px;
}
.task-btn-icon{
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.redOption{
    width: 20px;
    height: 20px;
    background-color: rgb(253, 112, 112);
}
.selectItemColor{
    background-color: khaki;
}

/*increment and decrement buttons*/
.inc-decr-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-active{
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}
.btn-active:hover{
    background-color: rgb(199, 199, 199);
    
}

/*footer*/
.footerRow{
    width: 100%;
    height: 7%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.socialIcon{
    width: 20px;
    height: 20px;
    margin: 10px
}


.testik:active{
    background-color: cyan;
    cursor: pointer !important;
}
.testik:focus{
    background-color: rgb(238, 255, 0);
    cursor: move;
    cursor: move !important;
}